<section class="h-100" style="background-color: #5280b0;">
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="assets/images/admin.jpg" class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">LogIn as Admin</h5>
                    <button type="button" class="btn btn-primary" routerLink="/adminlogin">Admin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/images/patient.png" class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">LogIn As Patient</h5>
                    <button type="button" class="btn btn-primary" routerLink="/patientlogin">Patient</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>