<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">My Appoinments</button>
      <ul class="navbar-nav ms-auto">
        <li>
        <button class="btn btn-danger" type="submit" (click)="onLogout()">Log out</button>
        </li>
      </ul>  
    </div>
  </nav>
    <table class="table table-bordered border-dark table-hover">
        <thead>
          <tr>
            <th> DocId </th>
            <th> DocName</th>
            <th> Docfield</th>
            <th> Docage</th>
            <th> Docgender</th>
            <th > Docpatientcount</th>
            <th > Docfees</th>
            <th > Doctreatments</th>
            <th > Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let d of doctor">
            <td >{{ d.did }}</td>
            <td>{{ d.dname}}</td>
            <td>{{ d.dfield }}</td>
            <td>{{ d.dage }}</td>
            <td>{{ d.dgender }}</td>
            <td>{{ d.dpatientcount }}</td>
            <td>{{ d.dfees }}</td>
            <td >{{ d.dlistoftreatments }}</td>
            <td ><button class="btn btn-success btn-sm" (click)="bookappoinment(d.did)" style="margin-right: 10px;">Book Appoinment</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Booked Appoinments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

