<div class="container" style="background-color: #5280b0;">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/images/dteam.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Show Doctors</h5>
              <button type="button" class="btn btn-primary" routerLink="/showdoc">View Doctors</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/doctor.png" class="card-img-top" alt="..." height="260px">
            <div class="card-body">
              <h5 class="card-title">Add New Doctor</h5>
              <button type="button" class="btn btn-primary">Add Doctor</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">View Appoinments</h5>
              <button type="button" class="btn btn-primary">Appoinments</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Patients Details</h5>
              <button type="button" class="btn btn-primary">View Patient</button>
              </div>
          </div>
        </div>
      </div>
    
</div>