<div class="container" style="background-color: #89b3e0;">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav ms-auto">
        <li>
        <button class="btn btn-danger" type="submit" (click)="onLogout()">Log out</button>
        </li>
      </ul>  
    </div>
  </nav>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/images/dteam.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Show Doctors</h5>
              <button type="button" class="btn btn-primary" routerLink="/showdoc">View Doctors</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/doctor.png" class="card-img-top" alt="..." height="260px">
            <div class="card-body">
              <h5 class="card-title">Add New Doctor</h5>
              <button type="button" class="btn btn-primary">Add Doctor</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">View Appoinments</h5>
              <button type="button" class="btn btn-primary" routerLink="/viewappoinments">Appoinments</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">User Details</h5>
              <button type="button" class="btn btn-primary" routerLink="/showuser">View User</button>
              </div>
          </div>
        </div>
      </div>
    
</div>